body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    color: black;
    min-height: 100%;
}

header {
    background: linear-gradient(to right, rgb(0, 180, 186), rgb(161, 21, 154));
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.title {
    text-align: center;
    flex-grow: 1;
}

.title h1 {
    font-size: 40px;
    margin: 0;
    color: black;
}

.title a {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #3a3a3a;
    text-decoration: none;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-right: 20px; 
}

.user-info {
    margin-right: 20px;
    text-align: right;
}

main {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    min-width: 200px; 
    background-color: #112b47;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: calc(100vh - 60px);
    align-items: center;
    box-sizing: border-box;
    overflow: auto;
    height: auto; /* Let the sidebar grow with the content */
    min-height: 100vh; /* Ensures it stretches to full height initially */
}

.sidebar button {
    background-color: rgb(239, 28, 228);
    border: 1px solid rgb(235, 139, 230)1ca;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 180px;
    font-size: 15px;
    color: white;
}

.sidebar button:hover {
    background-color: rgb(190, 25, 182); 
    border-color: rgb(235, 139, 230); 
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Content Area */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: rgba(170, 245, 245, 0.9);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Date Selector Styling */
.content div {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-right: 10px;
    color: #333;
}

input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.content button {
    background-color: #00b4ba;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s
}

button:hover {
    background-color: #008f92;
}

/* Dynamic Content */
#dynamic-content {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#dynamic-content h2 {
    background-color: #00b4ba;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    font-size: 18px;
    display: flex;
    margin-bottom: 20px;
}

.button-container {
    text-align: right; /* Aligns the button to the right */
    margin-top: 10px; /* Adds some space above the button */
}

button.effort-bar-admin {
    background-color: #00b4ba;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: right;
}

.effort-bar-admin:hover {
    background-color: #008f92;
}
